<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="Enter your email"
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       required
                >
                {{!--<button class="button button--primary form-prefixPostfix-button--postfix"
                       type="submit">
					   {{lang 'newsletter.subscribe_submit'}}
					   <svg xmlns="http://www.w3.org/2000/svg" width="8.054" height="12.819" viewBox="0 0 8.054 12.819">
						  <path id="Path_1547" data-name="Path 1547" d="M0,0,5.906,5.886,0,11.379" transform="translate(0.706 0.708)" fill="none" stroke="#fff" stroke-width="2"/>
					   </svg>
				</button>--}}
				<input class="button button--primary form-prefixPostfix-button--postfix"
                       type="submit"
                       value="{{lang 'newsletter.subscribe_submit'}}"
                >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
