---
blog:
    posts:
        limit: 6
        pages: 3
        summary: 200
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page blog_page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}

    {{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</section>

{{/partial}}
{{> layout/base}}
