
<div class="section-featured-artist">
    <div class="container">
	<h2 class="section-title">FEATURED ARTISTS</h2>
	<ul class="featured-artists">
            <li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Renate Haffner" href="/renate-haffner/">
                            <div class="card-img-container">
                                <img src="/content/brand1.jpg" data-src="/content/brand1.jpg" class="brand-img lazyload" alt="Renate Haffner" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Renate Haffner</a>
                        </h3>
                    </div>
                </article>
            </li>
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Tunku Khalsom" href="/tunku-khalsom/">
                            <div class="card-img-container">
                                <img src="/content/brand3.jpg" data-src="/content/brand3.jpg" class="brand-img lazyload" alt="Tunku Khalsom" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Tunku Khalsom</a>
                        </h3>
                    </div>
                </article>
            </li>
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Gudrun Piper" href="/gudrun-piper/">
                            <div class="card-img-container">
                                <img src="/content/brand2.jpg" data-src="/content/brand2.jpg" class="brand-img lazyload" alt="Gudrun Piper" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Gudrun Piper</a>
                        </h3>
                    </div>
                </article>
            </li>
			
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Olivier Messas" href="/olivier-messas/">
                            <div class="card-img-container">
                                <img src="/content/brand4.jpg" data-src="/content/brand4.jpg" class="brand-img lazyload" alt="Olivier Messas" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Olivier Messas</a>
                        </h3>
                    </div>
                </article>
            </li>
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Renate Haffner" href="/renate-haffner/">
                            <div class="card-img-container">
                                <img src="/content/brand1.jpg" data-src="/content/brand1.jpg" class="brand-img lazyload" alt="Renate Haffner" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Renate Haffner</a>
                        </h3>
                    </div>
                </article>
            </li>
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Tunku Khalsom" href="/tunku-khalsom/">
                            <div class="card-img-container">
                                <img src="/content/brand3.jpg" data-src="/content/brand3.jpg" class="brand-img lazyload" alt="Tunku Khalsom" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Tunku Khalsom</a>
                        </h3>
                    </div>
                </article>
            </li>
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Gudrun Piper" href="/gudrun-piper/">
                            <div class="card-img-container">
                                <img src="/content/brand2.jpg" data-src="/content/brand2.jpg" class="brand-img lazyload" alt="Gudrun Piper" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Gudrun Piper</a>
                        </h3>
                    </div>
                </article>
            </li>
			
			<li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Olivier Messas" href="/olivier-messas/">
                            <div class="card-img-container">
                                <img src="/content/brand4.jpg" data-src="/content/brand4.jpg" class="brand-img lazyload" alt="Olivier Messas" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Olivier Messas</a>
                        </h3>
                    </div>
                </article>
            </li>
			 <li class="brand">
                <article class="card">
                    <figure class="card-figure">
                        <a class="card-figure__link" aria-label="Renate Haffner" href="/renate-haffner/">
                            <div class="card-img-container">
                                <img src="/content/brand1.jpg" data-src="/content/brand1.jpg" class="brand-img lazyload" alt="Renate Haffner" />
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{url}}">Renate Haffner</a>
                        </h3>
                    </div>
                </article>
            </li>
	</ul>
</div>
</div>
