<div class="section-category">
	<div class="section-list">
		<div class="column1">
			<a href="/visual/">
				<img src="/content/visual.jpg" src="/content/visual.jpg" class="section-cat-img lazyload" alt="visual-image" />
				<h2>VISUAL</h2>
				<p>Made you look.</p>
			</a>
		</div>
		<div class="column2">
			<a href="/functional/">
				<img src="/content/functional.jpg" data-src="/content/functional.jpg" class="section-cat-img lazyload" alt="visual-image" />
				<h2>FUNCTIONAL</h2>
				<p>Purposefully creative.</p>
			</a>
		</div>
	</div>
	<div class="section-list">
		<div class="column1">
			<a href="/wearable/">
				<img src="/content/wearable.jpg" data-src="/content/wearable.jpg" class="section-cat-img lazyload" alt="visual-image" />
				<h2>WEARABLE</h2>
				<p>Creativity and clothing combined.</p>
			</a>
		</div>
		<div class="column2">
			<a href="/literary/">
				<img src="/content/literary.jpg" data-src="/content/literary.jpg" class="section-cat-img lazyload" alt="visual-image" />
				<h2>LITERARY</h2>
				<p>A word after a word after a word is power.</p>
			</a>
		</div>
	</div>
</div>
