{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{#if category.products}}
	<div class="top-filter">
		{{> components/products/filter sort=pagination.category.sort}}
		<div class="product-view">
			<ul>
				<li class="product-view-li">
					<a href="javascript:void(0)" class="type-view grid-view active">
					{{!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                          <defs>
                            <clipPath id="clip-path">
                              <path id="Path_16181" data-name="Path 16181" d="M0,0H30V30H0Z" transform="translate(1379 482)" fill="none" clip-rule="evenodd"/>
                            </clipPath>
                          </defs>
                          <g id="icon_1" transform="translate(-1379 -482)" clip-path="url(#clip-path)">
                            <path id="Path_16182" data-name="Path 16182" d="M3,3V13.111H13.111V3Zm7.583,7.583H5.528V5.528h5.056ZM3,15.639V25.75H13.111V15.639Zm7.583,7.583H5.528V18.167h5.056ZM15.639,3V13.111H25.75V3Zm7.583,7.583H18.167V5.528h5.056Zm-7.583,5.056V25.75H25.75V15.639Zm7.583,7.583H18.167V18.167h5.056Z" transform="translate(1379.625 482.625)" fill-rule="evenodd"/>
                          </g>
                        </svg>--}}
                        <img src="https://store-haxq1vvmi9.mybigcommerce.com/content/grid_view_a.png" alt="Grid View" class="active" />
                        <img src="https://store-haxq1vvmi9.mybigcommerce.com/content/grid_view_n.png" alt="Grid View" class="non_active" />

					</a>
				</li>
				<li class="product-view-li">
					<a href="javascript:void(0)" class="type-view list-view">
						{{!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
						  <defs>
							<clipPath id="clip-path">
							  <path id="Path_16181" data-name="Path 16181" d="M0,0H30V30H0Z" transform="translate(1416 482)" fill="none"/>
							</clipPath>
						  </defs>
						  <g id="icon_2" transform="translate(-1416 -482)" clip-path="url(#clip-path)">
							<path id="Union_19" data-name="Union 19" d="M-11738.36,182.751v-3.111h10.109v3.111Zm-12.641,0V172.638h10.113v10.113Zm2.527-2.527h5.056v-5.058h-5.056Zm10.113-3.972v-3.111h10.109v3.111Zm-12.641-6.14V160h10.113v10.11Zm2.527-2.527h5.056v-5.055h-5.056Zm10.113,2.029V166.5h10.109v3.111Zm0-6.5V160h10.109v3.111Z" transform="translate(13170.625 325.625)" fill="#999"/>
						  </g>
						</svg>--}}
						<img src="https://store-haxq1vvmi9.mybigcommerce.com/content/grid_list_view_a.png" alt="Grid View" class="active" />
                        <img src="https://store-haxq1vvmi9.mybigcommerce.com/content/grid_list_view_n.png" alt="Grid View" class="non_active" />
					</a>
				</li>
				<li class="product-view-li">
					<a href="javascript:void(0)" class="type-view table-view">
						{{!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
						  <defs>
							<clipPath id="clip-path">
							  <path id="Path_16192" data-name="Path 16192" d="M0,0H30V30H0Z" transform="translate(1416 482)" fill="none"/>
							</clipPath>
						  </defs>
						  <g id="icon_3" transform="translate(-1416 -482)" clip-path="url(#clip-path)">
							<path id="Union_20" data-name="Union 20" d="M-11751,182.751v-3.111h22.75v3.111Zm0-7v-3.111h22.75v3.111Zm0-6.638V166h22.75v3.111Zm0-6V160h22.75v3.111Z" transform="translate(13170.625 325.625)" fill="#999"/>
						  </g>
						</svg>--}}
						<img src="https://store-haxq1vvmi9.mybigcommerce.com/content/list_view_a.png" alt="Grid View" class="active" />
                        <img src="https://store-haxq1vvmi9.mybigcommerce.com/content/list_view_n.png" alt="Grid View" class="non_active" />
					</a>
				</li>
			</ul>
		</div>
	</div>

    <div {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}}>
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
    </div>

    {{> components/common/paginator pagination.category}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
